<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/> <!-- Файл с командой %clr -->

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%clr([%d{HH:mm:ss}]){green} %clr(%msg){red}%n</pattern>
        </encoder>
    </appender>

    <appender name="FILEOUT" class="ch.qos.logback.core.FileAppender">
        <file>messages_for_spring_boot/app.log</file>
        <encoder>
            <pattern>[%d{HH:mm:ss}] %msg %n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILEOUT"/>
    </root>

</configuration>